!!!
%html
  %head
    %meta{ charset: "utf-8" }

    -# Responsive support
    %meta{ name: "viewport", content: "width=device-width", "initial-scale" => "1.0"}

    -# Always force latest IE rendering engine or request Chrome Frame
    %meta{ content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible" }

    -# Use title if it's in the page YAML frontmatter
    %title= current_page.data.title

    = javascript_include_tag  "app/head"
    = stylesheet_link_tag     "main"


  %body
    .contain-to-grid.sticky
      %nav.top-bar{'data-topbar' => true, role: 'navigation', 'data-options' => 'sticky_on: large'}
        %ul.title-area.right
          %li.name
            %h1
              %a{href:'/'} G4CI
          %li.toggle-topbar.menu-icon

        %section.top-bar-section.left
          %ul
            %li
              %a{href:'/'} Home
            %li
              %a{href:'/test_report'} Report
    .row
      .columns.small-12
        = yield

    .row
      .columns.small-12
        %h1 footer

    = javascript_include_tag  "app/body"






